@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  font-family: 'inter';
  letter-spacing: 0.5px;
  font-size: 14px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: #16142B;
}